.selected-tree-item {
    background: rgba(235, 106, 59, 0.795);
    color: white;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

li {
    border-radius: 4px;
}

.chevron-right {
    color: gray;
}

.icon-area {
    width: 22px;
    margin-right: 0.4em;
}

.node-name {
    cursor: pointer;
    margin-left: 5px;
}

.d-flex {
    display: flex;
}

.chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    transition: .2s;
}

.pointer {
    cursor: pointer;
}

.chevron-right.rotate-90::after { 
    transform: rotateZ(45deg);
}

.chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 5px
}

.tree {

}

.tree__tree-item {
    cursor: pointer;
    margin: 0.1em;
    padding: 0.35em;
}

.tree-item__children--hidden {
    display: none !important;
}

.tree-item__children {
    margin-left: 37px !important;
    border-left: 1px dashed rgb(192, 192, 192);
    display: block;
}

.tree-item--guidelines-hidden {
    border-left: none !important;
}

.tree-item-node {
    display: flex;
    align-items: center;
}

.tree-item-node__expander-toggle {
    width: 1em;
    border-top: 1px dashed rgb(192, 192, 192);
}

.tree-item-node__expander-toggle--collapsed {
    visibility: collapse;
}
.tree-item__checkboxable-item-region {
    display: flex !important;
}

.tree-item__selectable-item-region {
    display: flex !important;
}
/* 
.tree-item__prepend-icon {

}

.tree-item__rename-box {

}

.tree-item__guide-lines {

}

.tree-item__expander {

}

.tree-item__checkboxable-item-region {

}

.tree-item__selectable-item-region {

}

.tree-item--selected {

} */
